{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper
    {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<h1>    Welcome to the conference {{ name }} </h1>
<div class="example-wrapper">
    <img alt="under construction image" src="images/under_construction.gif">
</div>
{% endblock %}
